body {
    margin: 0;
    margin-top; 50px;
}

header {
    text-align: center;
    background-color: #f1f1f1;
    padding: 30px;
    
}

header * {
    display: inline;
    height: 10px;
}

nav {
    overflow: hidden;
    background-color:#333;
}

nav {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
}
