body {
    margin: 0;
    margin-top: 0px;
}

header {
    text-align: center;
    background-color: #f1f3f1;
    padding: 30px;
    font-family: 'Palatino';
    
}

header * {
    display: inline;
    height: 10px;
}

.nav {
    overflow: hidden;
    background-color: rgb(228, 190, 190);
    font-family: 'Palatino';
}

.nav a{
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 15px 80px;
}

.nav a:hover {
    background-color: #ddd
}

.nav a.active {
    background-color: #4caf50;
    color: white;
}

.title {
    font-family: 'Palatino';
    text-align: center;
}

.para {
    font-family: 'Palatino';
    padding; 10px 20px;
}

.footer {
    font-family: 'Palatino';
    padding: 10px 20px;
    font-size: 8px
}